name: CI with Maven

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '21' ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven
    - name: Build, unit tests, integration tests
      run: mvn -B verify
    - name: Add code coverage information to PR
      id: jacoco-pr
      uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
      if: github.event_name == 'pull_request'
      with:
        paths: |
          ${{ github.workspace }}/**/target/site/jacoco-merged-test-coverage-report/jacoco.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 80
        min-coverage-changed-files: 80
    - name: Push results to Xray on Jira Cloud
      if: always()
      env:
        XRAY_CLIENT_ID: ${{ secrets.XRAY_CLIENT_ID }}
        XRAY_CLIENT_SECRET: ${{ secrets.XRAY_CLIENT_SECRET }}
        XRAY_TEST_PLAN_KEY: ${{ vars.XRAY_TEST_PLAN_KEY }}
        TEST_ENVIRONMENT: java${{ matrix.java }}
      run: |
        REVISION_CLEAN=$(echo "${{ github.ref_name }}" | tr '/' '_' | tr '-' '_' | sed 's/[^a-zA-Z0-9_.-]//g')

        mvn -B verify

        mvn xray:import-results \
            -Dxray.clientId="$XRAY_CLIENT_ID" \
            -Dxray.clientSecret="$XRAY_CLIENT_SECRET" \
            -Dxray.testPlanKey="$XRAY_TEST_PLAN_KEY" \
            -Dxray.testEnvironment="$TEST_ENVIRONMENT" \
            -Dxray.revision="$REVISION_CLEAN" \
            -Dxray.verbose=true
