name: CI with Maven

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '21' ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven
    - name: Build, unit tests, integration tests
      run: mvn -B verify
    - name: Add code coverage information to PR
      id: jacoco-pr
      uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
      if: github.event_name == 'pull_request'
      with:
        paths: |
          ${{ github.workspace }}/**/target/site/jacoco-merged-test-coverage-report/jacoco.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 80
        min-coverage-changed-files: 80
    - name: Push results to Xray on Jira Cloud
      if: always()
      env:
        XRAYCLOUD_CLIENT_ID: ${{ secrets.XRAYCLOUD_CLIENT_ID }}
        XRAYCLOUD_CLIENT_SECRET: ${{ secrets.XRAYCLOUD_CLIENT_SECRET }}
        XRAYCLOUD_TEST_PLAN_KEY: ${{ vars.XRAYCLOUD_TEST_PLAN_KEY }}
        TEST_ENVIRONMENT: java${{ matrix.java }}
        REVISION: ${{ github.ref_name }}
      run: |
        REVISION_SAFE=${REVISION//\//_}
        mvn -Dxray.clientId=$XRAYCLOUD_CLIENT_ID \
            -Dxray.clientSecret=$XRAYCLOUD_CLIENT_SECRET \
            -Dxray.testEnvironment=$TEST_ENVIRONMENT \
            -Dxray.testPlanKey=$XRAYCLOUD_TEST_PLAN_KEY \
            -Dxray.revision=$REVISION_SAFE \
            -Dxray.verbose=true \
            xray:import-results

